@import '../../sass-and-MUI/variables.scss';

#new-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#information {
  display: flex;
  flex-direction: column;
  background-color: $lightest;
  width: 90%;
  margin-top: 62px;
  height: fit-content;
}

form {
  margin: auto;
  height: fit-content;
  margin-bottom: 30px;
  width: 80%;

  .form-fields {
    width: 100%;
  }

  #button {
    border-left: 2px dashed $medium;
    border-right: 2px dashed $medium;
    border-bottom: 2px solid $medium;
    padding: 20px 15px 0px 15px;
  }
}
