@import '../../sass-and-MUI/variables.scss';

#new-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#information {
  display: flex;
  flex-direction: column;
  background-color: $lightest;
  width: 100%;
  height: fit-content;

  h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a {
    text-decoration: underline;
  }

  p {
    width: 80%;
  }
}

form {
  margin: 62px auto 30px auto;
  height: fit-content;
  width: fit-content;

  .form-fields {
    width: 100%;
  }

  #button {
    border-left: 2px dashed $medium;
    border-right: 2px dashed $medium;
    border-bottom: 2px solid $medium;
    padding: 20px 15px 0px 15px;
  }

  #counter {
    color: $darkopaque;
  }
}
