@import '../../sass-and-MUI/variables.scss';

#loginpage {
  background-color: $medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.subtitle {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $lightest;
  text-align: center;
}

.bodytext {
  @extend .subtitle;
}

#buttons {
  border-left: 2px dashed $dark;
  border-right: 2px dashed $dark;
  border-bottom: 2px solid $dark;
  padding: 25px 15px 0px 15px;
}

#forms {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
