@import '../../sass-and-MUI/variables.scss';
a {
  text-decoration: none;
  color: $darkest;
}

main {
  padding: 0px;
  margin: 0px;
}

img {
  margin-bottom: 20px;
  height: 130px;
}

#menuimage {
  text-align: center;
}
