@import '../../../sass-and-MUI/variables.scss';

$hovercolor: #28314948;
#edit-icon,
#read-icon,
#expand-row {
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

#edit-icon:hover,
#read-icon:hover,
#expand-row:hover {
  cursor: pointer;
  background-color: $hovercolor;
}
