$font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$primary-light: #dbedf3;
$primary-dark: #283149;
$primary-medium: #404b69;
$primary-details: #00818a;
$background-color: $primary-dark;
$text-light: $primary-light;
$text-dark: $primary-dark;
