@import '~bulma/bulma';

$primary: Gainsboro;
// $primary: pink;
// $heading-color: ;

body {
   background-color: rgb(110,115,120);
   color: $primary;
   font-family: Verdana, Geneva, sans-serif;
    height: 100vh;
}

h1 {
   padding: 2rem;
}

p {
   padding: 1.2rem;
}