$font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$lightest: #ffff;
$light: #dbedf3;
$dark: #283149;
$darkest: #0b0e15;
$medium: #404b69;
$details: #00818a;
$details-light: #12d1df;

$darkopaque: #28314990;
